<a href="https://colab.research.google.com/github/AlirezaZarrinmehr/Intro-to-Data-Science/blob/main/IST%20687%20HW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Data Science - HW 2

##### Copyright 2022, Jeffrey Stanton, Jeffrey Saltz, and Jasmina Tacheva

In [23]:
# Enter your name here:

### Attribution statement: (choose only one and delete the rest)

In [24]:
# 1. I did this homework by myself, with help from the book and the professor.
# 2. I did this homework with help from the book and the professor and these Internet sources:
# 3. I did this homework with help from <Name of another student> but did not cut and paste any code.

### Reminders of things to practice from last week: 
Assignment arrow:  		<- <br>
The combine command: 	c( ) <br>
Descriptive statistics: 	mean( ) sum( ) max( ) <br>
Arithmetic operators:		+ - * /<br>
Boolean operators:		>    <    >=    <=   ==   !=  <br>

**This Week:** Explore the **quakes** dataset (which is included in R). 


<br>
<br>

**Step 0:** Prepare the data <br>
A. Copy the **quakes** dataset into a new dataframe (call it **myQuakes**), so that if you need to start over, you can do so easily (by copying **quakes** into **myQuakes** again). Summarize the variables in **myQuakes** using an R command. Also, explore the structure of the dataframe - using another R command. In a brief comment, describe what this dataset is about based on your analysis of the variables in it.

In [25]:
myQuakes <- quakes
head(myQuakes)

  lat    long   depth mag stations
1 -20.42 181.62 562   4.8 41
2 -20.62 181.03 650   4.2 15
3 -26.00 184.10  42   5.4 43
4 -17.97 181.66 626   4.1 19
5 -20.42 181.96 649   4.0 11
6 -19.68 184.31 195   4.0 12

**Step 1:** Explore the earthquake magnitude variable called **mag**  <br>

A.	What is the average magnitude? Use mean() or summary():

In [26]:
mean(myQuakes$mag)
summary(myQuakes)

[1] 4.6204

      lat              long           depth            mag
 Min.   :-38.59   Min.   :165.7   Min.   : 40.0   Min.   :4.00
 1st Qu.:-23.47   1st Qu.:179.6   1st Qu.: 99.0   1st Qu.:4.30
 Median :-20.30   Median :181.4   Median :247.0   Median :4.60
 Mean   :-20.64   Mean   :179.5   Mean   :311.4   Mean   :4.62
 3rd Qu.:-17.64   3rd Qu.:183.2   3rd Qu.:543.0   3rd Qu.:4.90
 Max.   :-10.72   Max.   :188.1   Max.   :680.0   Max.   :6.40
    stations
 Min.   : 10.00
 1st Qu.: 18.00
 Median : 27.00
 Mean   : 33.42
 3rd Qu.: 42.00
 Max.   :132.00

B.	What is the magnitude of the smallest earthquake? Use min() or summary() and save the result in a variable called **minQuake**:

In [51]:
minQuake <- min(myQuakes$mag)
minQuake
#summary(myQuakes)

[1] 4

C.	What is the magnitude of the largest earthquake? Use max() or summary() and save the result in a variable called **maxQuake**:

In [52]:
maxQuake <- max(myQuakes$mag)
maxQuake
#summary(myQuakes)

[1] 6.4

D.	Output the **fourth row** of the dataframe:

In [29]:
myQuakes[4,]

  lat    long   depth mag stations
4 -17.97 181.66 626   4.1 19

E. Create a new dataframe, with only the rows where the **magnitude is greater than 4**. How many rows are in that dataframe (report this number using code, do not count by looking at the output):

In [30]:
newDf <- myQuakes[myQuakes$mag>4,]
nrow(newDf)

[1] 954

F.	Using the **arrange()** function, create a **sorted dataframe** based on magnitude and store it in **quakeSorted1**. Explain how this function works.

In [31]:
library(tidyverse)
quakeSorted1 <- myQuakes%>%arrange(mag)

G. Now create a second sorted dataframe called **quakeSorted2** using the **order()** function. Explain in a comment how the function works.

In [34]:
quakeSorted2 <- myQuakes[order(myQuakes$mag),]

H. Print the top rows of each of the sorted dataframes using the **head()** function and explain in a comment what you see - did the two sorting functions produce a similar result?

In [38]:
head(quakeSorted1)

  lat    long   depth mag stations
1 -20.42 181.96 649   4   11
2 -19.68 184.31 195   4   12
3 -17.94 181.49 537   4   15
4 -23.55 180.80 349   4   10
5 -19.26 184.42 223   4   15
6 -22.06 180.60 584   4   11

In [37]:
head(quakeSorted2)

   lat    long   depth mag stations
5  -20.42 181.96 649   4   11
6  -19.68 184.31 195   4   12
26 -17.94 181.49 537   4   15
34 -23.55 180.80 349   4   10
52 -19.26 184.42 223   4   15
58 -22.06 180.60 584   4   11

I.	What are the latitude and longitude of the quake reported by the largest number of stations?

In [62]:
select(filter(myQuakes, myQuakes$station == max(myQuakes$station)), lat, long)

  lat    long
1 -12.23 167.02

J.	What are the latitude and longitude of the quake with the smallest magnitude?

In [65]:
select(filter(myQuakes, myQuakes$mag == min(myQuakes$mag)), lat, long)

   lat    long
1  -20.42 181.96
2  -19.68 184.31
3  -17.94 181.49
4  -23.55 180.80
5  -19.26 184.42
6  -22.06 180.60
7  -15.31 185.80
8  -17.70 181.70
9  -19.73 182.40
10 -19.06 182.45
11 -20.65 181.40
12 -17.90 181.50
13 -17.70 182.20
14 -23.54 179.93
15 -17.70 185.00
16 -17.94 181.51
17 -30.64 181.20
18 -16.90 185.72
19 -10.72 165.99
20 -18.55 182.23
21 -22.70 183.30
22 -21.00 183.20
23 -17.02 182.93
24 -19.51 183.97
25 -15.43 185.19
26 -17.91 181.48
27 -17.10 182.80
28 -30.30 180.80
29 -25.60 180.30
30 -20.70 186.30
31 -16.40 182.73
32 -21.60 180.50
33 -17.90 181.50
34 -28.00 182.00
35 -22.12 180.49
36 -21.62 182.40
37 -19.70 182.44
38 -18.50 185.40
39 -21.03 180.78
40 -17.80 181.20
41 -17.82 181.27
42 -25.06 182.80
43 -18.14 181.71
44 -23.49 180.06
45 -17.86 181.30
46 -17.95 181.37

**Step 3:** Using conditional if statements <br>

A.	 Test if **maxQuake** is greater than 6 (output “yes” or “no”) <br>
**Hint:** Try modifying the following code in R:

In [66]:
if  (maxQuake > 6) "Yes" else "No"

[1] "Yes"

B.	 Following the same logic, test if **minQuake** is less than 3 (output “yes” or “no”):

In [67]:
if  (minQuake < 3) "Yes" else "No"

[1] "No"