<a href="https://colab.research.google.com/github/AlirezaZarrinmehr/Intro-to-Data-Science/blob/main/IST_687_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro to Data Science - HW 1
##### Copyright 2022, Jeffrey Stanton, Jeffrey Saltz, and Jasmina Tacheva

In [ ]:
# Enter your name here:

### Attribution statement: (choose only one and delete the rest)

In [ ]:
# 1. I did this homework by myself, with help from the book and the professor.
# 2. I did this homework with help from the book and the professor and these Internet sources:
# 3. I did this homework with help from <Name of another student> but did not cut and paste any code.

Define a variable:

In [ ]:
value <- 150

Print the content of this new variable:

In [ ]:
value

[1] 150

Define the following vectors, which represent the **hospital capacity** (measured in number of hospital beds) and **number of colleges** in each of the five counties in Central New York (CNY) â€“ **Cayuga**, **Cortland**, **Madison**, **Onondaga**, and **Oswego**, in this order (e.g. the first number in the **capacity** vector suggests there are 124 hospital beds in Cayuga county):

In [ ]:
capacity <- c(124, 70, 51, 1403, 86)
colleges <- c(2, 2, 3, 9, 2)

# Part 1: Calculating statistics using R

A.	Show the number of observations in the **capacity** vector with the length() function:

In [ ]:
length(capacity)

[1] 5

[1] 5

B.	Show the number of observations in the **colleges** vector with the length() function:

In [ ]:
length(colleges)

C.	Calculate the average number of colleges in CNY using the mean() function:

In [ ]:
mean(colleges)

[1] 3.6

D.	Calculate the total number of colleges in CNY using the sum() function:

In [ ]:
sum(colleges)

[1] 18

E.	Calculate the average CNY hospital capacity using the mean() function:

In [ ]:
mean(capacity)

[1] 346.8

F.	Calculate the total hospital capacity in CNY using the sum() function:

In [ ]:
sum(capacity)

[1] 1734

G.	Calculate the average number of colleges in CNY again, this time using **the results from steps B & D**:

In [ ]:
sum(colleges)/length(colleges)

[1] 3.6

H.	Calculate the average CNY hospital capacity again, this time using **the results from steps A & F**:

In [ ]:
sum(capacity)/length(capacity)

[1] 346.8

# Part 2: Using the max/min and range functions in R

I.	How many colleges does the county with most colleges have? Hint: Use the max() function:

In [ ]:
max(colleges)

[1] 9

J.	What is the hospital capacity of the county with the smallest number of hospital beds in CNY? **Hint:** Use the min() function:

In [ ]:
min(capacity)

[1] 51

K.	Display the number of beds in the county with the highest hospital capacity and the county with the lowest hospital capacity together, using a single command. **Hint:** Use the range() function:

In [ ]:
range(capacity)

[1]   51 1403

# Part 3: Vector Math

L.	Create a new vector called **lowerCap**, which is the current hospital capacity of each county **1 10** (each county has 100 more hospital beds):

In [ ]:
lowerCap <- capacity -10

M.	 Calculate the average of **lowerCap**:

In [ ]:
mean(lowerCap)

[1] 336.8

N. Create another vector called **megaCap**, which is the original hospital capacity in each county (stored in **capacity**) plus **value** (the variable we declared in the beginning of this assignment).

In [ ]:
megaCap <- capacity + value

O. Print the content of **megaCap**:

In [ ]:
megaCap

[1]  274  220  201 1553  236

P.	In a variable called **bigCap**, store all the hospital numbers from the original **capacity** vector which are **greater than 80** (using **subsetting** in R):

In [ ]:
bigCap <- capacity[capacity>80]

Q.	Print the length of **bigCap** and explain in a comment how many counties have more than 80 hospital beds:

In [ ]:
length(bigCap)

[1] 3